<footer class="main-footer text-sm">
    <strong>Copyright © 2022 <a href="#">Toan211</a>.</strong>
    All rights reserved.
    <div class="float-right d-none d-sm-inline-block">
        <b>Hotline 1:</b> 098 166 8285
        ||
        <b>Hotline 2:</b> 0000 000 000
    </div>
</footer>